body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #000;
    background-color: rgb(244, 247, 249);
}

.intro {
    font-size: 16px;
    margin-top: 30px;
}

.quote {
    font-family: 'Pinyon Script';
}

.avatar {
    width: 100%;
    /* height: 100%; */
    /* border-radius: 50%; */
    object-fit: cover;
}

.links a {
    text-align: center;
    width: 50px;
    display: inline-block;
    text-decoration: none;
}

.pub-link a {
    text-decoration: none;
}

.section-name {
    font-weight: 600;
    font-size: 20px;
}

.exp-list, .pub-list {
    font-size: 16px;
}

.center-row {
    margin: auto;
}

li {
    list-style: none;
}

footer {
    margin-top: 50px;
    font-size: 10pt;
}

footer p {
    margin-bottom: 0;
}